<p>cust-log-form works!</p>
<div class="container-fluid my-3">
    <div class="row justify-content-around">
        <div class="col-md-7 bg-light shadow px-4 pt-4">
            <h4 class="display-4 ">
                <i class="fa fa-user-plus"></i>Customer Sign In</h4>
            <p class="text-secondary">Enter valid sign in details.</p>
            <hr>
            
            <form #loginform="ngForm"  (ngSubmit)="loginCustomer()">
                <small class="text-danger">
                    {{msg}}
                </small>
                <div class="form-group" 
                [class.has-error]="custEmail.invalid && custEmail.touched"
                [class.has-success]="custEmail.valid">
                    <label for="Email">Email</label>
                    <input [(ngModel)]="customer.custEmail" type="email" name="custEmail" id="custEmail" class="form-control" placeholder="Enter Email" 
                    #custEmail="ngModel" required>   
                    <span class="help-block text-danger" *ngIf="custEmail.invalid && custEmail.touched">
                        Email-Id is required
                      </span>
                </div>     
                    <div class="form-group "
                    [class.has-error]="custPassword.invalid && custPassword.touched"
                    [class.has-success]="custPassword.valid">
                        <label for="Password" class="control-label">Password</label>
                        <input type="password" [(ngModel)]="customer.custPassword" name="custPassword" id="custPassword" class="form-control" placeholder="Enter Password" 
                         #custPassword="ngModel" required minlength=3 maxlength=8>
                         <span class="help-block text-danger" 
                         *ngIf="custPassword.hasError('required') && custPassword.touched">
                          password is required
                        </span>
                        <span class="help-block text-danger" 
                         *ngIf="custPassword.hasError('minlength')">
                          password is too short
                        </span>
                        <span class="help-block text-danger" 
                         *ngIf="custPassword.hasError('maxlength')">
                          password is too large
                        </span>
                     </div>
                    <div class="form-group">
                        <button  type="submit" class="btn btn-success" [disabled]="loginform.invalid" >Login</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>    
                 
                <p>Dont have an account? <span><a href="/cust-reg">Signup</a></span></p>
            </form>
        </div>
    </div>
</div>