
<div class="" style="background: linear-gradient(rgb(3, 119, 134) ,rgb(110,110, 100));height:100vh" >
    <div style="height: 80px;">
    </div>
<div class="container-fluid">
    <div class="row justify-content-around m-0">
        <div class="col-md-5 bg-light shadow px-4 pt-4 mt-5">
            <h4 class="display-4 ">
                <i class="fa fa-user-plus"></i>Customer Sign In</h4>
            <p class="text-secondary">Enter valid sign in details.</p>
            <hr>
            
            <form #loginform="ngForm"  (ngSubmit)="loginCustomer()">
                <small class="text-danger">
                    {{msg}}
                </small>
                <div class="form-group" 
                [class.has-error]="custEmail.invalid && custEmail.touched"
                [class.has-success]="custEmail.valid">
                    <label for="Email">Email</label>
                    <input [(ngModel)]="customer.custEmail" type="email" name="custEmail" id="custEmail" class="form-control" placeholder="Enter Email" 
                    #custEmail="ngModel" required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">   
                    <span class="help-block text-danger" *ngIf="custEmail.hasError('required') && custEmail.touched">
                      Email-Id is required
                    </span>
                    <span class="help-block text-danger" *ngIf="custEmail.hasError('pattern') && custEmail.touched">
                        Not a valid Email
                    </span>
                </div>     
                    <div class="form-group "
                    [class.has-error]="custPassword.invalid && custPassword.touched"
                    [class.has-success]="custPassword.valid">
                        <label for="Password" class="control-label">Password</label>
                        <input type="password" [(ngModel)]="customer.custPassword" name="custPassword" id="custPassword" class="form-control" placeholder="Enter Password" 
                         #custPassword="ngModel" required minlength=3 maxlength=8>
                         <span class="help-block text-danger" 
                         *ngIf="custPassword.hasError('required') && custPassword.touched">
                          password is required
                        </span>
                        <span class="help-block text-danger" 
                         *ngIf="custPassword.hasError('minlength')">
                          password is too short
                        </span>
                        <span class="help-block text-danger" 
                         *ngIf="custPassword.hasError('maxlength')">
                          password is too large
                        </span>
                     </div>
                    <div class="form-group">
                        <button  type="submit" class="btn btn-success" [disabled]="loginform.invalid" >Login</button>
                        <button type="reset" class="btn btn-danger ml-1">Reset</button>
                    </div>    
                 
               

                <div class="row flex ">
                    <div class="col md-8">
                        <p>Dont have an account? <span><a href="/cust-reg">Signup</a></span></p>
                        <p>Forgot Password? <span><a href="/forgot-pass/3"> Click Here </a></span></p>
                    </div>
                    <div class="col md-4 ml-5 d-flex align-items-end justify-content-end">
                       <p>Back <span><a href="/index"> Click Here </a></span></p>
        
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>