<div class="modal-header">
    <h4 class="modal-title">Confirm End Ride </h4>
    <button
      type="button"
      class="close "
      aria-label="Close"
      (click)="_activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

  <div class="container">
    <div class="row justify-content-around">
        
    <h5> Do you want to end the ride with booking ID {{booking.bookId}}</h5>
      
    </div>   
    
  

  </div>  


</div>  

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="bookAndClose()">
    End Ride
  </button>
  <button type="button" class="btn btn-outline-dark" (click)="closeTheModal()">
    Close
  </button>
</div>
  
