<app-nav-bar></app-nav-bar>
<section class="login-block">
    <div class="container">
	<div class="row">
		<div class="col-md-4 login-sec">
		    <h2 class="text-center">BIKE RENTAL</h2>
		    <form class="login-form">
<!--
  <div class="form-group">
    <a routerLink="/prov-reg" class="nav-link" style="color: bisque;"><b>Providers Signup</b></a>
  </div>

  <div class="form-group">
    <a routerLink="/prov-log" class="nav-link" style="color: bisque;"><b>Providers Signin</b></a>
  </div>
  
  <div class="form-group">
    <a routerLink="/cust-reg" class="nav-link" style="color: bisque;"><b>Customer Signup</b></a>
  </div>

  <div class="form-group">
    <a routerLink="/cust-log" class="nav-link" style="color: bisque;"><b>Customer Signin</b></a>
  </div>

  <div class="form-group">
    <a routerLink="/admin-reg" class="nav-link" style="color: bisque;"><b>Admin Signup</b></a>
  </div>

  <div class="form-group">
    <a routerLink="/admin-log" class="nav-link" style="color: bisque;"><b>Admin Signin</b></a>
  </div>
  -->
 
</form>
		</div>
		<div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                 <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  </ol>
            <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="./assets/Index/index1.png" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>This is Heaven</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>	
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="./assets/Index/index2.png" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>This is Heaven</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>	
    </div>
    </div>

    
    <div class="carousel-item">
      <img class="d-block img-fluid" src="./assets/Index/index3.png" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>This is Heaven</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>	
    </div>
  </div>

  <div class="carousel-item">
    <img class="d-block img-fluid" src="./assets/Index/index4.png" alt="First slide">
    <div class="carousel-caption d-none d-md-block">
      <div class="banner-text">
          <h2>This is Heaven</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
      </div>	
  </div>
</div>
            </div>	   
		    
		</div>
	</div>
</div>
</div>
</section>



<app-footer></app-footer>>


