<app-nav-bar></app-nav-bar>
<!-- cust Booking history -->
<div class="row content">
    <div class=" col-sm-12 main jumbotron">
        <h3 class="text-center">
            <b>Bookings</b>
        </h3>
        
        <div class="table-responsive" id="myTable" *ngIf="bookCustArrStat">
        <table class="table  table-striped "  >
            <thead class="table-dark">
                <tr>
                    <th class="align-middle">Booking Id</th>  
                    <th class="align-middle">Charges/hr </th> 
                    <td class="align-middle">Initial Fuel Cost</td>
                    <td class="align-middle">Start Time</td>
                    <td class="align-middle">End Time</td>
                    <th class="align-middle">Deposit Amt</th> 
                    <th class="align-middle">Bill Amt</th>
                </tr>
            </thead>
            <tbody id="myTableBody"  >
          
                <tr *ngFor="let x of bookCustArr">
                    <td class="align-middle">{{x.bookId}}</td>
                    <td class="align-middle">₹{{x.bookChargesPerHours}}</td>
                    <td class="align-middle">₹{{x.bookInitialFuelCost}}</td>
                    <td class="align-middle">{{x.bookStartTimeCust}}</td>
                    <td class="align-middle">{{x.bookEndTimeCust}}</td>
                    <td class="align-middle">₹{{x.bookDepositAmount}}</td>
                    <td class="align-middle">₹{{x.bookBillAmount}}</td>
                    
                </tr>
            </tbody>
        </table>
        </div>
        <h4 class="text-center" *ngIf="!bookCustArrStat">
            <b>No Bookings yet</b>
        </h4>
    </div>
</div>