<app-nav-bar></app-nav-bar>
<hr>
<div class="row content" >
    <div class=" col-sm-12 main shadow jumbotron">
        <h3 class="text-center">
            <b>Admin-Providers Info</b>
        </h3>
        
        <div class="table-responsive" id="myTable">
            <table class="table table-striped ">
                <thead class="table-dark">
                    <tr>
                        <th class="align-middle">Id</th>
                        <th class="align-middle">Name</th>
                        <th class="align-middle">Email Id</th>
                        <th class="align-middle">Date Of Birth</th> 
                        <th class="align-middle">Age</th>
                        <th class="align-middle">Contact</th>
                        <th class="align-middle">Aadhar No.</th>
                        <th class="align-middle">Address</th> 
                        <th class="align-middle">City</th>
                        <th class="align-middle">State</th> 
                        <th class="align-middle">Pin</th>                         
                        <th class="align-middle"></th>                      
                        <th class="align-middle"></th> 
                    </tr>
                </thead>
                <tbody id="myTableBody" *ngFor="let x of provArr">
            
                    <tr >
                        <td class="align-middle">{{x.provId}}</td>
                        <td class="align-middle">{{x.provFname}}</td>
                        <td class="align-middle">{{x.provEmail}}</td>
                        <td class="align-middle">{{x.provDateOfBirth}}</td>
                        <td class="align-middle">{{x.provAge}}</td>
                        <td class="align-middle">{{x.provContactNo}}</td>
                        <td class="align-middle">{{x.provAadhar}}</td>
                        <td class="align-middle">{{x.provAddress}}</td>
                        <td class="align-middle">{{x.provCity}}</td>
                        <td class="align-middle">{{x.provState}}</td>
                        <td class="align-middle">{{x.provPin}}</td>
                        <td class="align-middle">                       
                            <button type="button" class="btn btn-primary btn-sm btn-block" id="btn0" (click)="onUpdate(x.provId)">
                                Update   
                            </button>                            
                        </td>
                        <td>
                        <button type="button" class="btn btn-danger btn-sm btn-block" id="btn0" (click)="onDelete(x.provId)">
                            Delete
                        </button>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>