<div class="modal-header">
    <h4 class="modal-title">Confirm Booking and Start Ride </h4>
    <button
      type="button"
      class="close "
      aria-label="Close"
      (click)="_activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

  <div class="container">
    <div class="row justify-content-around">
        
      <div class="col-xs-10">
        <!-- <address>
          <strong> Booking Details</strong><br>
              <b>Brand Of Bike : {{ bike.brandOfBike }} </b><br>
              <b>Type Of Gear : {{ bike.typeOfGear }}</b><br>                                
              <b>Model Of Bike : {{ bike.modelOfBike }}</b><br>
              <b>RC Book No. : {{ bike.rcBookNo }}</b><br>                            	
              <b>Charges/Hour : {{ bike.chargesPerHour }}</b><br>                                
              <b>Location : {{ bike.availableLocation }}</b><br>
              <b>Bike No. : {{ bike.bikeNo }}</b><br> 
              <b>Average/Ltr : {{ bike.avgPerLtr }}</b><br>
              <b>Amount to be paid :  </b><br>
              <b>Total Interest : </b><br>                          
          </address>
      </div>
      <div class="col-xs-2 t">
          <address>
              <strong>Application Date:</strong><br>
              <b>Amount to Pay : </b><br>         
              <b>Amount to Pay : </b><br>         
              <b>Amount to Pay : </b><br>         
              <b>Amount to Pay : </b><br>                                   
              <b>Amount to Pay : </b><br>         
              <b>Amount to Pay : </b><br>         
              <br><br>
          </address>-->
      </div>
    </div>   
    <strong><span>{{date}}</span></strong><br>
    <form #loginform="ngForm" (ngSubmit)="bookAndClose()">
        <small class="text-danger">
         
        </small>
        <!-- <div class="form-group" 
        [class.has-error]="bookReadingAtStart.invalid && bookReadingAtStart.touched"
        [class.has-success]="bookReadingAtStart.valid">
            <label for="Meter Reading">Start Meter Reading</label>
            <input [(ngModel)]="booking.bookReadingAtStart" type="text" name="bookReadingAtStart" id="bookReadingAtStart" class="form-control" placeholder="Enter Start Meter reading " 
            #bookReadingAtStart="ngModel" required>   
            <span class="help-block text-danger" *ngIf="bookReadingAtStart.invalid && bookReadingAtStart.touched">
                Meter Reading is required
              </span>
        </div>      -->
            <div class="form-group "
            [class.has-error]="bookDepositAmount.invalid && bookDepositAmount.touched"
            [class.has-success]="bookDepositAmount.valid">
                <label for="deposit amt" class="control-label">Advance Paid</label>
                <input type="text" [(ngModel)]="booking.bookDepositAmount" name="bookDepositAmount" id="bookDepositAmount" class="form-control" placeholder="Enter Advance Paid" 
                 #bookDepositAmount="ngModel" required >
                 <span class="help-block text-danger" *ngIf="bookDepositAmount.invalid && bookDepositAmount.touched">
                    Advance payment is required
                  </span>
              
             </div>

             <div class="form-group "
             [class.has-error]="bookInitialFuelCost.invalid && bookInitialFuelCost.touched"
             [class.has-success]="bookInitialFuelCost.valid">
                 <label for="initial fuel cost " class="control-label">Initial Fuel Cost</label>
                 <input type="text" [(ngModel)]="booking.bookInitialFuelCost" name="bookInitialFuelCost" id="bookInitialFuelCost" class="form-control" placeholder="Enter Initial Fuel Cost" 
                  #bookInitialFuelCost="ngModel" required >
                  <span class="help-block text-danger" *ngIf="bookInitialFuelCost.invalid && bookInitialFuelCost.touched">
                     Initial Fuel Cost is required
                   </span>
               
              </div>
            <div class="form-group">
                <button  type="submit" class="btn btn-success" [disabled]="loginform.invalid" >Start</button>
                <button  type="button" class="btn btn-warning ml-1" (click)="rejectRide()" > Reject</button>
                <button type="reset" class="btn btn-danger ml-1">Reset</button>
            </div>    
         
    </form>


  </div>  


</div>  

<div class="modal-footer">

  <button type="button" class="btn btn-outline-dark" (click)="closeTheModal()">
    Close
  </button>
</div>
  
