<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-6  d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
            <div> <i id="icn" class="far fa-check-circle"></i> </div> <br>
            <h2 class="text-success">REGISTRATION SUCCESFULL....</h2>

            <h5>We have sent a Confirmation mail to your mail-id</h5>
            
            <button  class="btn btn-outline-success" *ngIf="id == 1"> <a href="admin-log">Login  </a></button>

            <button  class="btn btn-outline-success" *ngIf="id == 2"> <a href="prov-log">Login  </a></button>
                
            <button  class="btn btn-outline-success" *ngIf="id == 3"> <a href="cust-log">Login  </a></button>

        </div>
    </div>
</div>
