<app-nav-bar></app-nav-bar>
<hr>

<div class="container-fluid my-3">
    <div class="row justify-content-around">      
        <div class="col-md-7 bg-light shadow px-4 pt-4">
            <h4 class="display-4 ">
                <i class="fa fa-user-plus"></i>Provider Update Bike</h4>
            <hr>           
            <form #provAddBikeControl="ngForm"  >    
              <small class="text-danger">
                {{msg}} 
              </small>
              <fieldset>   
                <div class="row">
                
                  <div class="form-group col-md-12"
                  [class.has-error]="availableLocation.invalid && availableLocation.touched"
                   [class.has-success]="availableLocation.valid">
                    <label for="Available Location" class="control-label">Available Location</label>
                    <input type="text" [(ngModel)]="bike.availableLocation" name="availableLocation" id="availableLocation" class="form-control" placeholder="Enter Available Location" 
                     #availableLocation="ngModel" required
                     pattern="^[a-zA-Z]{3}[a-zA-Z0-9-,\s]*$" minlength="3" maxlength="30">
                    <span class="help-block text-danger" 
                         *ngIf="availableLocation.hasError('required') && availableLocation.touched">
                          Location required
                    </span>
                    <span class="help-block text-danger" 
                         *ngIf="availableLocation.hasError('pattern') && availableLocation.touched">
                          Invalid Format
                    </span>                    
                  </div>

                  <div class="form-group col-md-12"
                  [class.has-error]="chargesPerHour.invalid && chargesPerHour.touched"
                   [class.has-success]="chargesPerHour.valid">
                    <label for="Charges Per Hour" class="control-label">Charges Per Hour</label>
                    <input type="text" [(ngModel)]="bike.chargesPerHour" name="chargesPerHour" id="chargesPerHour" class="form-control" placeholder="Enter Charges Per Hour" 
                    #chargesPerHour="ngModel" required
                    pattern="^[0-9]{1}[0-9.]*$" minlength="2" maxlength="7">
                    <span class="help-block text-danger" 
                         *ngIf="chargesPerHour.hasError('required') && chargesPerHour.touched">
                         Charges Per Hour is required
                      </span>   
                      <span class="help-block text-danger" 
                        *ngIf="chargesPerHour.hasError('pattern') && chargesPerHour.touched">
                        Invalid format
                      </span>                  
                  </div>
                  
                  <div class="form-group col-md-12"
                  [class.has-error]="avgPerLtr.invalid && avgPerLtr.touched"
                   [class.has-success]="avgPerLtr.valid">
                    <label for="Average Per Ltr" class="control-label">Average Per Ltr</label>
                    <input type="text" [(ngModel)]="bike.avgPerLtr" name="avgPerLtr" id="avgPerLtr" class="form-control" placeholder="Enter Average Per Ltr" 
                    #avgPerLtr="ngModel" required
                    pattern="^[0-9]{1}[0-9.]*$" minlength="2" maxlength="7">
                    <span class="help-block text-danger" 
                         *ngIf="avgPerLtr.hasError('required') && avgPerLtr.touched">
                         Average Per Ltr is required
                    </span>     
                    <span class="help-block text-danger" 
                      *ngIf="avgPerLtr.hasError('pattern') && avgPerLtr.touched">
                       Invalid Format
                   </span>                  
                  </div>                 
                  
                </div>
              
                <div class="form-group ">
                    <button type="submit" class="btn btn-success" [disabled]="provAddBikeControl.invalid" (click)="updateBike()" >Update</button>
              
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
                <p>Return <span><a href="/prov-show-bikes">back</a></span></p>
              </fieldset>
            </form>

        </div>
    </div>
</div>
