<div class="" style="background: linear-gradient(rgb(3, 119, 134) ,rgb(110,110, 100)); height: 100vh;" >
  <div style="height: 100px;"> 

  </div>
<div class="container-fluid ">
      <div class="row justify-content-around m-0">      
          <div class="col-md-7 bg-light shadow px-4 pt-4 mt-3 mb-3">
              <h4 class="display-4 ">
                  <i class="fa fa-user-plus"></i>Admin Sign Up</h4>
              <p class="text-secondary">Enter valid sign up details.</p>
              <hr>           
              <form #adminFormControl="ngForm">    
                <small class="text-danger">
                  {{msg}}
                </small>
                <fieldset>   
                  <div class="row">       
                     
                      <div class="form-group col-md-6"
                      [class.has-error]="adminEmail.invalid && adminEmail.touched"
                      [class.has-success]="adminEmail.valid">
                          <label for="Email" class="control-label">Email</label>
                           <input type="email" [(ngModel)]="admin.adminEmail" name="adminEmail" id="adminEmail" class="form-control" placeholder="Enter Email" 
                           #adminEmail="ngModel" required
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                           <span class="help-block text-danger" *ngIf="adminEmail.hasError('required') && adminEmail.touched">
                            Email-Id is required
                          </span>
                          <span class="help-block text-danger" *ngIf="adminEmail.hasError('pattern') && adminEmail.touched">
                            Not a valid Email
                          </span>
                      </div>
                      <div class="form-group col-md-6"
                      [class.has-error]="adminName.invalid && adminName.touched"
                      [class.has-success]="adminName.valid">
                          <label for="Name" class="control-label">Name</label>
                           <input type="text" [(ngModel)]="admin.adminName" name="adminName" id="adminName" class="form-control" placeholder="Enter Name" 
                           #adminName="ngModel" required
                           pattern="^[a-zA-Z]+(?:[\s][a-zA-Z]+)*$">
                           <span class="help-block text-danger" *ngIf="adminName.hasError('required') && adminName.touched">
                             Name is required
                          </span>
                          <span class="help-block text-danger" *ngIf="adminName.hasError('pattern') && adminName.touched">
                            Not a valid Full Name
                         </span>
                      </div>

                  </div>

                  <div class="row">       
                      <div class="form-group col-md-6"
                      [class.has-error]="adminPassword.invalid && adminPassword.touched"
                      [class.has-success]="adminPassword.valid">
                          <label for="Password" class="control-label">Password</label>
                          <input type="password" [(ngModel)]="admin.adminPassword" name="adminPassword" id="adminPassword" class="form-control" placeholder="Enter Password" 
                           #adminPassword="ngModel" required 
                           minlength=3 maxlength=8>
                           <span class="help-block text-danger" 
                           *ngIf="adminPassword.hasError('required') && adminPassword.touched">
                            password is required
                          </span>
                          <span class="help-block text-danger" 
                           *ngIf="adminPassword.hasError('minlength')">
                            password is too short
                          </span>
                          <span class="help-block text-danger" 
                           *ngIf="adminPassword.hasError('maxlength')">
                            password is too large
                          </span>
                       </div>
  
                      <div class="form-group col-md-6">
                          <label for="Password">Confirm Password</label>
                          <input type="Password" name="adminPasswordR" id="adminPasswordR" class="form-control" placeholder="Re-Enter Password" aria-describedby="PasswordlhelpId" required>
                      </div>
                  </div>
                  
                  <div class="form-group ">
                      <button type="submit" class="btn btn-success" [disabled]="adminFormControl.invalid" (click)="registerNow()">Sign Up</button>
                
                      <button type="reset" class="btn btn-danger ml-1">Reset</button>
                  </div>
                  <p>Already have an account? <span><a href="/admin-log">Login</a></span></p>
                </fieldset>
                </form>
          </div>
      </div>
  </div>

</div>
  
 <!-- 
<div  style="background-image: url(./assets/Admin/adminreg1.png);
background-repeat: no-repeat;background-size:cover; height:100vh;background-position: center;">
<div class="container-fluid my-3">
      <div class="row justify-content-around">      
          <div class="col-md-7  px-4 pt-4 bg-light"  >
              <h4 class="display-4 " style="color:rgb(204, 194, 194)">
                  <i class="fa fa-user-plus"></i>Admin Sign Up</h4>
              <p style="color:rgb(204, 194, 194)">Enter valid sign up details.</p>
              <hr>           
              <form #adminFormControl="ngForm">    
                <small class="text-danger">
                  {{msg}}
                </small>
                <fieldset>   
                  <div class="row">       
                     
                      <div class="form-group col-md-6"
                      [class.has-error]="adminEmail.invalid && adminEmail.touched"
                      [class.has-success]="adminEmail.valid">
                          <label for="Email" class="control-label" style="color:rgb(204, 194, 194)">Email</label>
                           <input type="email" [(ngModel)]="admin.adminEmail" name="adminEmail" id="adminEmail" class="form-control" placeholder="Enter Email" 
                           #adminEmail="ngModel" required
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                           <span class="help-block text-danger" *ngIf="adminEmail.hasError('required') && adminEmail.touched">
                            Email-Id is required
                          </span>
                          <span class="help-block text-danger" *ngIf="adminEmail.hasError('pattern') && adminEmail.touched">
                            Not a valid Email
                          </span>
                      </div>
                      <div class="form-group col-md-6"
                      [class.has-error]="adminName.invalid && adminName.touched"
                      [class.has-success]="adminName.valid">
                          <label for="Name" class="control-label" style="color:rgb(204, 194, 194)">Name</label>
                           <input type="text" [(ngModel)]="admin.adminName" name="adminName" id="adminName" class="form-control" placeholder="Enter Name" 
                           #adminName="ngModel" required
                           pattern="^[a-zA-Z]+(?:[\s][a-zA-Z]+)*$">
                           <span class="help-block text-danger" *ngIf="adminName.hasError('required') && adminName.touched">
                             Name is required
                          </span>
                          <span class="help-block text-danger" *ngIf="adminName.hasError('pattern') && adminName.touched">
                            Not a valid Full Name
                         </span>
                      </div>

                  </div>

                  <div class="row">       
                      <div class="form-group col-md-6"
                      [class.has-error]="adminPassword.invalid && adminPassword.touched"
                      [class.has-success]="adminPassword.valid">
                          <label for="Password" class="control-label" style="color:rgb(204, 194, 194)">Password</label>
                          <input type="password" [(ngModel)]="admin.adminPassword" name="adminPassword" id="adminPassword" class="form-control" placeholder="Enter Password" 
                           #adminPassword="ngModel" required 
                           minlength=3 maxlength=8>
                           <span class="help-block text-danger" 
                           *ngIf="adminPassword.hasError('required') && adminPassword.touched">
                            password is required
                          </span>
                          <span class="help-block text-danger" 
                           *ngIf="adminPassword.hasError('minlength')">
                            password is too short
                          </span>
                          <span class="help-block text-danger" 
                           *ngIf="adminPassword.hasError('maxlength')">
                            password is too large
                          </span>
                       </div>
  
                      <div class="form-group col-md-6">
                          <label for="Password" style="color:rgb(204, 194, 194)">Confirm Password</label>
                          <input type="Password" name="adminPasswordR" id="adminPasswordR" class="form-control" placeholder="Re-Enter Password" aria-describedby="PasswordlhelpId" required>
                      </div>
                  </div>
                  
                  <div class="form-group ">
                      <button type="submit" class="btn btn-success" [disabled]="adminFormControl.invalid" (click)="registerNow()">Sign Up</button>
                
                      <button type="reset" class="btn btn-danger">Reset</button>
                  </div>
                  <p style="color:rgb(19, 18, 18)">Already have an account? <span><a href="/admin-log">Login</a></span></p>
                </fieldset>
                </form>
                <button type="reset" class="btn btn-dark" style="align-content: flex-end;"><a href="/index">Back</a></button> 
          </div>
      </div>
  </div>
</div>-->