<div class="" style="background: linear-gradient(rgb(3, 119, 134) ,rgb(110,110, 100));" >

<div class="container-fluid ">
<div class="row justify-content-around m-0">      
  <div class="col-md-7 bg-light shadow px-4 pt-4 mt-3 mb-3">
      <h4 class="display-4 ">
          <i class="fa fa-user-plus"></i>Customer Sign Up</h4>
      <p class="text-secondary">Enter valid sign up details.</p>
      <hr>           
      <form #custFormControl="ngForm"  >    
        <small class="text-danger">
          {{msg}}
        </small>
        <fieldset>   
          <div class="row">       
              <div class="form-group col-md-6" 
              [class.has-error]="custFname.invalid && custFname.touched"
              [class.has-success]="custFname.valid">
                  <label for="fname" class="control-label">Full Name</label>
                  <input type="text" [(ngModel)]="customer.custFname" name="custFname" id="custFname" class="form-control " placeholder="Enter full name" 
                   #custFname="ngModel" required
                   pattern="^[a-zA-Z]+(?:[\s][a-zA-Z]+)*$">
                  <span class="help-block text-danger" *ngIf="custFname.hasError('required') && custFname.touched">
                    Full Name is required
                  </span>
                  <span class="help-block text-danger" *ngIf="custFname.hasError('pattern') && custFname.touched">
                    Not a avlid Full Name 
                  </span>
              </div>
              <div class="form-group col-md-6"
              [class.has-error]="custEmail.invalid && custEmail.touched"
              [class.has-success]="custEmail.valid">
                  <label for="Email" class="control-label">Email</label>
                   <input type="email" [(ngModel)]="customer.custEmail" name="custEmail" id="custEmail" class="form-control" placeholder="Enter Email" 
                   #custEmail="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                   <span class="help-block text-danger" *ngIf="custEmail.hasError('required') && custEmail.touched">
                    Email-Id is required
                  </span>
                  <span class="help-block text-danger" *ngIf="custEmail.hasError('pattern') && custEmail.touched">
                    Not a valid Email
                  </span>
              </div>
          </div>
          
          <!-- <div class="row">       
              <div class="form-group col-md-6"
              [class.has-error]="custPassword.touched && custPassword.invalid"
              [class.has-success]="custPassword.valid">
                  <label for="password" class="control-label">Password</label>
                  <input type="password" [(ngModel)]="customer.custPassword" name="custPassword" id="custPassword" class="form-control" placeholder="Enter Password" 
                   #custPassword="ngModel" required minlength=3 maxlength=8>
                   <span class="help-block text-danger" 
                   *ngIf="custPassword.errors?.required && custPassword.touched">
                    password is required
                  </span>
                  <span class="help-block text-danger" 
                   *ngIf="custPassword.hasError('minlength')">
                    password is too short
                  </span>
                  <span class="help-block text-danger" 
                   *ngIf="custPassword.hasError('maxlength')">
                    password is too large
                  </span>
               </div>

              <div class="form-group col-md-6"
              [class.has-error]="custPassword.touched && custPassword.invalid"
              [class.has-success]="custPassword.valid">
                  <label for="Password">Confirm Password</label>
                  <input type="Password" name="custPasswordR" id="custPasswordR" class="form-control" placeholder="Re-Enter Password" 
                  aria-describedby="PasswordlhelpId" required
                  >
              </div>
          </div> -->


          <div class="row" ngModelGroup="passwordGroup" 
                 [class.has-error]="confirmPassword.touched && confirmPassword.invalid && !confirmPassword.errors?.required">
                   
                    <div class="form-group col-md-6"
                    [class.has-error]="custPassword.invalid && custPassword.touched"
                    [class.has-success]="custPassword.valid">
                        <label for="Password" class="control-label">Password</label>
                        <input type="password" [(ngModel)]="customer.custPassword" name="custPassword" id="custPassword" class="form-control" placeholder="Enter Password" 
                         #custPassword="ngModel" required minlength=3 maxlength=8 (change)="confirmPassword.control.updateValueAndValidity()">
                         <span class="help-block text-danger" 
                         *ngIf="custPassword.hasError('required') && custPassword.touched"
                         >
                          password is required
                        </span>
                        <span class="help-block text-danger" 
                         *ngIf="custPassword.hasError('minlength')">
                          password is too short
                        </span>
                        <span class="help-block text-danger" 
                         *ngIf="custPassword.hasError('maxlength')">
                          password is too large
                        </span>
                     </div>

                    <div class="form-group col-md-6">
                        <label for="confirm Password">Confirm Password</label>
                        <input  name="confirmPassword" [(ngModel)]="customer.confirmPassword" appConfirmEqualValidator="custPassword" type="Password" id="confirmPassword" class="form-control" placeholder="Re-Enter Password" aria-describedby="PasswordlhelpId" 
                        #confirmPassword="ngModel" required minlength=3 maxlength=8>
                        <span class="help-block text-danger" 
                         *ngIf="confirmPassword.hasError('required') && confirmPassword.touched">
                         Confirm password is required
                        </span>
                        <span class="help-block text-danger" 
                         *ngIf=" confirmPassword.touched  && confirmPassword.errors?.notEqual">
                          Password and Confirm password does not matched
                        </span>
                      </div>
                    </div> 




          <div class="row">
            <div class="form-group col-md-6"
             [class.has-error]="custDateOfBirth.invalid && custDateOfBirth.touched"
             [class.has-success]="custDateOfBirth.valid">
                <label for="DOB" class="control-label">Date Of Birth</label>
                <input type="text" bsDatepicker [bsConfig]="datePickerConfig" (bsValueChange)="onValueChange($event)"  
                class="form-control" [(ngModel)]="customer.custDateOfBirth" 
                name="custDateOfBirth" id="custDateOfBirth" 
                placeholder="Enter Date of birth" 
                #custDateOfBirth="ngModel" required
                autocomplete="off" >
                <span class="help-block text-danger" 
                   *ngIf="custDateOfBirth.invalid && custDateOfBirth.touched">
                    DOB is required
                  </span>
               
            </div>
            <div class="form-group col-md-6">
                <label for="age">Age</label>
                <input type="text" value=""  class="form-control" [(ngModel)]="customer.custAge" name="custAge" id="custAge" readonly>
               
            </div>
            
          </div>
          <div class="row">
            <div class="form-group col-md-6"
            [class.has-error]="custAadhar.invalid && custAadhar.touched"
             [class.has-success]="custAadhar.valid">
              <label for="Aadhar Card Number" class="control-label">Aadhar Card number</label>
              <input type="text" [(ngModel)]="customer.custAadhar" name="custAadhar" id="custAadhar" 
              class="form-control " placeholder="Enter Aadhar card number" 
              #custAadhar="ngModel" required 
              pattern="^[2-9]{1}[0-9]{11}$"
              minlength="12" maxlength="12">              
              <span class="help-block text-danger" 
                   *ngIf="custAadhar.hasError('required') && custAadhar.touched">
                  Aadhar Card Number is required
              </span>       
              <span class="help-block text-danger" 
                  *ngIf="custAadhar.hasError('pattern') && custAadhar.touched">
                  Not valid Aadhar Card Number
              </span>                   
            </div>

            <div class="form-group col-md-6"
             [class.has-error]="custContactNo.invalid && custContactNo.touched"
             [class.has-success]="custContactNo.valid">
              <label for="Contact Number" class="control-label">Contact Number</label>
              <input type="text" class="form-control" [(ngModel)]="customer.custContactNo" name="custContactNo" id="custContactNo" placeholder="Enter contact number" 
               #custContactNo="ngModel" required 
               pattern="^[7-9]{1}[0-9]{9}$" minlength="10" maxlength="10">
                <span class="help-block text-danger" 
                   *ngIf="custContactNo.hasError('required') && custContactNo.touched">
                    Contact Number is required
                </span>
                <span class="help-block text-danger" 
                   *ngIf="custContactNo.hasError('pattern') && custContactNo.touched">
                    Not a valid Contact Number
                </span>
            </div>           
          </div>

            <div class="form-group"
            [class.has-error]="custDrivingLicNo.invalid && custDrivingLicNo.touched"
            [class.has-success]="custDrivingLicNo.valid">
                <label for="Driving License" class="control-label">Driving License No. </label>
                <input type="text" [(ngModel)]="customer.custDrivingLicNo" name="custDrivingLicNo" id="custDrivingLicNo" class="form-control" placeholder="Enter Driving License No." 
                #custDrivingLicNo="ngModel" required maxlength="16" 
                pattern="^(([A-Z]{2}[0-9]{2})( )|([A-Z]{2}-[0-9]{2}))((19|20)[0-9][0-9])[0-9]{7}$">
                <span class="help-block text-danger" 
                    *ngIf="custDrivingLicNo.hasError('required') && custDrivingLicNo.touched">
                    Driving License No. is required
                </span>
                <span class="help-block text-danger" 
                  *ngIf="custDrivingLicNo.hasError('pattern') && custDrivingLicNo.touched">
                  Not a valid Driving License No.
                </span>  
            </div>

            <div class="form-group"
            [class.has-error]="custAddress.invalid && custAddress.touched"
            [class.has-success]="custAddress.valid">
              <label for="Address" class="control-label">Address</label>
              <input type="text" [(ngModel)]="customer.custAddress" name="custAddress" id="custAddress" class="form-control" placeholder="Enter Address" 
               #custAddress="ngModel" required 
               minlength="3" maxlength="50">
                <span class="help-block text-danger" 
                   *ngIf="custAddress.invalid && custAddress.touched">
                    Address is required
                </span>  
            </div>
         
          <div class="row">
            <div class="form-group col-md-4">
              <label for="fname" class="control-label">City</label>
              <select [(ngModel)]="customer.custCity" id="custCity" name="custCity" placeholder="Enter City" class="form-control" required>
                <option disabled selected>--Choose City--</option>
                <option>New Delhi</option>
                <option>Chennai</option>
                <option>Mumbai</option>
                <option>Kolkata</option>
              </select>  
               
            </div>  

            <div class="form-group col-md-4">
              <label for="fname" class="control-label">State</label>
              <select  [(ngModel)]="customer.custState" id="custState" name="custState" placeholder="Enter state" class="form-control" 
              #custState="ngModel" required>
                <option disabled selected>--Choose State--</option>
                <option>Maharashtra</option>
                <option>Goa</option>     
                <span class="help-block text-danger" 
                   *ngIf="custState.invalid && custState.touched">
                    Select a state
                </span>                    
              </select>
             
            </div>
            <div class="form-group col-md-4"
            [class.has-error]="custPin.invalid && custPin.touched"
            [class.has-success]="custPin.valid">
              <label for="PIN" class="control-label">PIN</label>
              <input type="text" [(ngModel)]="customer.custPin" name="custPin" id="custPin" class="form-control" placeholder="Enter PIN" 
              #custPin="ngModel" required
              pattern="^[1-9][0-9]{5}$" minlength="6" maxlength="6">
                <span class="help-block text-danger" 
                   *ngIf="custPin.hasError('required') && custPin.touched">
                    PIN is required
                </span>  
                <span class="help-block text-danger" 
                   *ngIf="custPin.hasError('pattern') && custPin.touched">
                    Not a valid PIN 
                </span>  
            </div>  
          </div>

          <div class="form-group ">
              <button type="submit" class="btn btn-success" [disabled]="custFormControl.invalid" (click)="registerNow()">Sign Up</button>
        
              <button type="reset" class="btn btn-danger ml-1">Reset</button>
          </div>
          <p>Already have an account? <span><a href="/cust-log">Login</a></span></p>
        </fieldset>
        </form>
  </div>
</div>
</div>
</div>