<app-nav-bar></app-nav-bar>
<hr>

<div class="row" style="height: 60px;">
</div>

<div class="row" style="height: 120px; " >
    <div class="col-1 ">
        
    </div>
    <div class="col-4 display-4 shadoow d-flex align-items-center justify-content-center" 
    style="background: whitesmoke; ">
        <a routerLink="/admin-bike-status" class="nav-link" style="color: black; text-decoration: none;" >Bike Status</a>
    </div>
    <div class="col-2 ">
        
    </div>
    <div class="col-4 shadoow display-4 d-flex align-items-center justify-content-center" style="background: whitesmoke;">
        <a routerLink="/admin-book-status" class="nav-link" style="color: black; text-decoration: none;" >Booking Status</a>
    </div>
    <div class="col-1 ">
        
    </div>
</div>

<div class="row" style="height: 70px;" ></div>

<div class="row" style="height: 120px; " >
    <div class="col-1 ">
        
    </div>
    <div class="col-4 display-4 shadoow d-flex align-items-center justify-content-center" 
    style="background: whitesmoke; ">
        <a style="color: black; text-decoration: none;" href="admin-view-prov">View Providers</a>
    </div>
    <div class="col-2 ">
        
    </div>
    <div class="col-4 shadoow display-4 d-flex align-items-center justify-content-center" style="background: whitesmoke;">
        <a style="color: black; text-decoration: none;"  href="admin-view-cust">View Customers</a>
    </div>
    <div class="col-1 ">
        
    </div>
</div>
<div class="row" style="height: 70px;" ></div>
<div class="row" style="height: 120px;">
    <div class="col-1 ">
        
    </div>
    <div class="col-4 display-4 shadoow d-flex align-items-center justify-content-center" style="background: whitesmoke;">
        <a style="color: black; text-decoration: none;"  href="#">Dummy</a>
    </div>
    <div class="col-2 ">
        
    </div>
    <div class="col-4 display-4 shadoow d-flex align-items-center justify-content-center" style="background: whitesmoke;">
        <a style="color: black; text-decoration: none;"  href="#">Dummy</a>
    </div>
    <div class="col-1 ">
        
    </div>
</div>

<div class="row mb-4">
    
</div>