<div class="" style="background: linear-gradient(rgb(3, 119, 134) ,rgb(110,110, 100));height:100vh" >
<div style="height: 80px;">
</div>

<div class="container-fluid ">
    
    <div class="row justify-content-around m-0" >
        
        <div class="col-md-5 bg-light shadow px-4 pt-4 mt-5" >
            <h4 class="display-4 ">
                <i class="fa fa-user-plus"></i>Admin Sign in</h4>
            <p class="text-secondary">Enter valid sign in details.</p>
            <hr>
            <!--signup form --> 
            <form #loginform="ngForm" (ngSubmit)="loginAdmin()">
                <small class="text-danger">
                    {{msg}}
                </small>
                <div class="form-group" 
                [class.has-error]="adminEmail.invalid && adminEmail.touched"
                [class.has-success]="adminEmail.valid">
                    <label for="Email">Email</label>
                    <input [(ngModel)]="admin.adminEmail" type="email" name="adminEmail" id="adminEmail" class="form-control" placeholder="Enter Email" 
                    #adminEmail="ngModel" required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    minlength="2" maxlength="40">   
                    <span class="help-block text-danger" *ngIf="adminEmail.hasError('required') && adminEmail.touched">
                        Email-Id is required
                    </span>
                    <span class="help-block text-danger" *ngIf="adminEmail.hasError('pattern') && adminEmail.touched">
                        Not a valid Email 
                    </span>
                </div>     
                    <div class="form-group "
                    [class.has-error]="adminPassword.invalid && adminPassword.touched"
                    [class.has-success]="adminPassword.valid">
                        <label for="Password" class="control-label">Password</label>
                        <input type="password" [(ngModel)]="admin.adminPassword" name="adminPassword" id="adminPassword" class="form-control" placeholder="Enter Password" 
                         #adminPassword="ngModel" required minlength=3 maxlength=8>
                         <span class="help-block text-danger" 
                         *ngIf="adminPassword.hasError('required') && adminPassword.touched">
                          password is required
                        </span>
                        <span class="help-block text-danger" 
                         *ngIf="adminPassword.hasError('minlength')">
                          password is too short
                        </span>
                        <span class="help-block text-danger" 
                         *ngIf="adminPassword.hasError('maxlength')">
                          password is too large
                        </span>
                     </div>
                    <div class="form-group">
                        <button  type="submit" class="btn btn-success" [disabled]="loginform.invalid" >Login</button>
                        <button type="reset" class="btn btn-danger ml-1">Reset</button>
                    </div>    
                 <div class="row flex ">
                     <div class="col md-6">
                        <p>Dont have an account ? <span><a href="/admin-reg">Signup</a></span></p>
                        <p>Forgot Password ? <span><a href="/forgot-pass/1"> Click Here</a></span></p>
                    
                     </div>
                     <div class="col md-6 ml-5 d-flex align-items-end justify-content-end">
                        <p>Back <span><a href="/index"> Click Here </a></span></p>

                     </div>
                 </div>
                
            </form>
        </div>
    </div>
</div>
</div>