<app-nav-bar></app-nav-bar>
<hr>
<div class="row content">
    <div class=" col-sm-12 main shadow jumbotron">
        <h3 class="text-center">
            <b>Customers Info</b>
        </h3>
        
        <div class="table-responsive" >
            <table class="table table-striped " datatable [dtOptions]="dtOptions">
                <thead class="table-dark">
                    <tr>
                        <th class="align-middle">Id</th>
                        <th class="align-middle">Email</th>
                        <th class="align-middle">First Name</th>
                        <th class="align-middle">Date Of Birth </th> 
                        <th class="align-middle">Driving License</th>
                        <th class="align-middle">Age</th>
                        <th class="align-middle">Contact</th>
                        <th class="align-middle">Aadhar No.</th> 
                        <th class="align-middle">Address</th>
                        <th class="align-middle">City</th> 
                        <th class="align-middle">State</th>
                        <th class="align-middle">Pin</th>  
                        <th class="align-middle"></th>  
                        <th class="align-middle"></th>  
                    </tr>
                </thead>
                <tbody *ngFor="let x of custArr">
            
                    <tr >
                        <td class="align-middle">{{x.custId}}</td>
                        <td class="align-middle">{{x.custEmail}}</td>
                        <td class="align-middle">{{x.custFname}}</td>
                        <td class="align-middle">{{x.custDateOfBirth}}</td>
                        <td class="align-middle">{{x.custDrivingLicNo}}</td>
                        <td class="align-middle">{{x.custAge}}</td>
                        <td class="align-middle">{{x.custContactNo}}</td>
                        <td class="align-middle">{{x.custAadhar}}</td>
                        <td class="align-middle">{{x.custAddress}}</td>
                        <td class="align-middle">{{x.custCity}}</td>
                        <td class="align-middle">{{x.custState}}</td>
                        <td class="align-middle">{{x.custPin}}</td>
                        
                        <td class="align-middle">                       
                            <button type="button" class="btn btn-primary btn-sm btn-block" id="btn0" (click)="onUpdate(x.custId)">
                                Update   
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-block  btn-sm" id="btn0" (click)="onDelete(x.custId)">
                                Delete
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>