<app-nav-bar></app-nav-bar>

<!-- Bookings requested-->
<div class="row content">
    <div class=" col-sm-12 main jumbotron">
        <h3 class="text-center">
            <b>Requested Bookings</b>
        </h3>
        
        <div class="table-responsive" id="myTable">
        <table class="table  table-striped " >
            <thead class="table-dark">
                <tr>
                    <th class="align-middle">Booking Id</th>   
                    <th class="align-middle">Bike Id</th>                 
                    <th class="align-middle">Prov Id</th>
                    <th class="align-middle">Cust Id</th>
                    <th class="align-middle">Charges/hr </th> 
                    <th class="align-middle">Bill Amt</th>
                    <th class="align-middle">Payment Status</th>
                    <th class="align-middle">Booking Status</th>
                    <th class="align-middle">Deposit Amt</th> 
                    <th class="align-middle">Location</th>
                    <th class="align-middle">View</th> 
                </tr>
            </thead>
            <tbody id="myTableBody"  >
          
                <tr *ngFor="let x of bikeReqBookArr">
                    <td class="align-middle">{{x.bookId}}</td>
                    <td class="align-middle">{{x.bikeId}}</td>
                    <td class="align-middle">{{x.provId}}</td>
                    <td class="align-middle">{{x.custId}}</td>
                    <td class="align-middle">₹{{x.bookChargesPerHours}}</td>
                    <td class="align-middle">₹{{x.bookBillAmount}}</td>
                    <td class="align-middle">{{x.bookPaymentStatus}}</td>
                    <td class="align-middle">{{x.bookStatus}}</td>
                    <td class="align-middle">₹{{x.bookDepositAmount}}</td>
                    <td class="align-middle">{{x.availableLocation}}</td>
                    <td class="align-middle">                       
                        <button type="button" class="btn btn-primary btn-sm" id="btn0" (click)="acceptBooking(x)">
                            Accept   
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" id="btn1" (click)="rejectBooking(x)">
                            Reject   
                        </button>                       
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
<hr>

<!-- Bookings accepted-->
<div class="row content">
    <div class=" col-sm-12 main jumbotron">
        <h3 class="text-center">
            <b>Accepted Bookings</b>
        </h3>
        
        <div class="table-responsive" id="myTable">
        <table class="table  table-striped " >
            <thead class="table-dark">
                <tr>
                    <th class="align-middle">Booking Id</th>   
                    <th class="align-middle">Bike Id</th>                 
                    <th class="align-middle">Prov Id</th>
                    <th class="align-middle">Cust Id</th>
                    <th class="align-middle">Charges/hr </th> 
                    <th class="align-middle">Bill Amt</th>
                    <th class="align-middle">Payment Status</th>
                    <th class="align-middle">Booking Status</th>
                    <th class="align-middle">Deposit Amt</th> 
                    <th class="align-middle">Location</th>
                    <th class="align-middle">View</th> 
                </tr>
            </thead>
            <tbody id="myTableBody"  >
          
                <tr *ngFor="let x of bikeAccBookArr">
                    <td class="align-middle">{{x.bookId}}</td>
                    <td class="align-middle">{{x.bikeId}}</td>
                    <td class="align-middle">{{x.provId}}</td>
                    <td class="align-middle">{{x.custId}}</td>
                    <td class="align-middle">₹{{x.bookChargesPerHours}}</td>
                    <td class="align-middle">₹{{x.bookBillAmount}}</td>
                    <td class="align-middle">{{x.bookPaymentStatus}}</td>
                    <td class="align-middle">{{x.bookStatus}}</td>
                    <td class="align-middle">₹{{x.bookDepositAmount}}</td>
                    <td class="align-middle">{{x.availableLocation}}</td>
                    <td class="align-middle">                       
                        <button type="button" class="btn btn-primary btn-sm" id="btn0" (click)="viewBookingModal(x)">
                            View 
                        </button>                      
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
<hr>



<!-- on ride-->
<div class="row content">
    <div class=" col-sm-12 main jumbotron">
        <h3 class="text-center">
            <b>Active Rides</b>
        </h3>
        
        <div class="table-responsive" id="myTable">
        <table class="table  table-striped "  >
            <thead class="table-dark">
                <tr>
                    <th class="align-middle">Booking Id</th>  
                    <th class="align-middle">Bike Id</th>                  
                    <th class="align-middle">Prov Id</th>
                    <th class="align-middle">Cust Id</th>
                    <th class="align-middle">Charges/hr </th> 
                    <th class="align-middle">Bill Amt</th>
                    <th class="align-middle">Payment Status</th>
                    <th class="align-middle">Booking Status</th>
                    <th class="align-middle">Deposit Amt</th> 
                    <th class="align-middle">Location</th>
                    <th class="align-middle">View</th> 
                </tr>
            </thead>
            <tbody id="myTableBody"  >
          
                <tr *ngFor="let x of bikeActBookArr">
                    <td class="align-middle">{{x.bookId}}</td>
                    <td class="align-middle">{{x.bikeId}}</td>
                    <td class="align-middle">{{x.provId}}</td>
                    <td class="align-middle">{{x.custId}}</td>
                    <td class="align-middle">₹{{x.bookChargesPerHours}}</td>
                    <td class="align-middle">₹{{x.bookBillAmount}}</td>
                    <td class="align-middle">{{x.bookPaymentStatus}}</td>
                    <td class="align-middle">{{x.bookStatus}}</td>
                    <td class="align-middle">₹{{x.bookDepositAmount}}</td>
                    <td class="align-middle">{{x.availableLocation}}</td>
                    <td class="align-middle">                       
                        <button type="button" class="btn btn-primary btn-sm" id="btn0" (click)="endRideModal(x)">
                            View 
                        </button>                      
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
<hr>