<div class="container" *ngIf="id == 1">
    <div class="row justify-content-center align-items-center">
        <div class="col-6  d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
            <div> <i id="icn" class="far fa-check-circle"></i> </div> <br>
            <h2 class="text-success">Password reset request sent....</h2>

            <h5>Plase check your registered mail to reset password...</h5>
            
            <button  class="btn btn-outline-success" > <a href="index">Home  </a></button>

        </div>
    </div>
</div>
<div class="container" >
    <div class="row justify-content-center align-items-center">
        <div class="col-6  d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
            <div> <i id="icn" class="far fa-check-circle"></i> </div> <br>
            <h2 class="text-success">Password reset success....</h2>

            <h5>Login again with new password...</h5>
            
            <button  class="btn btn-outline-success" *ngIf="id == 2"> <a href="admin-log">OK  </a></button>
            <button  class="btn btn-outline-success" *ngIf="id == 3"> <a href="prov-log">OK  </a></button>
            <button  class="btn btn-outline-success" *ngIf="id == 4"> <a href="cust-log">OK  </a></button>

        </div>
    </div>
</div>