
<div class="container-fluid my-3">
    <div class="row justify-content-around">
      <div> 
          {{msg}}

      </div>
      
        <div class="col-md-7 bg-light shadow px-4 pt-4">
            <h4 class="display-4 ">
                <i class="fa fa-user-plus"></i>Provider Sign Up</h4>
            <p class="text-secondary">Enter valid sign up details.</p>
            <hr>
           
         
            <form >    
              <fieldset>   
                <div class="row">       
                    <div class="form-group col-md-6">
                        <label for="fname">Full Name</label>
                        <input type="text" [(ngModel)]="provider.provFname" name="provFname" id="provFname" class="form-control" placeholder="Enter full name" aria-describedby="fnamehelpId" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Email">Email</label>
                        <input type="email" [(ngModel)]="provider.provEmail" name="provEmail" id="provEmail" class="form-control" placeholder="Enter Email" aria-describedby="EmailhelpId" required>
                    </div>
                </div>
                <div class="row">       
                    <div class="form-group col-md-6">
                        <label for="Password">Password</label>
                        <input type="password" [(ngModel)]="provider.provPassword" name="provPassword" id="provPassword" class="form-control" placeholder="Enter Password" aria-describedby="PasswordhelpId" required>
                     </div>
                    <div class="form-group col-md-6">
                        <label for="Password">Password</label>
                        <input type="Password" name="provPasswordR" id="provPasswordR" class="form-control" placeholder="Re-Enter Password" aria-describedby="PasswordlhelpId" required>
                    </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-4">
                      <label for="DOB">Date Of Birth</label>
                      <input type="text" class="form-control" [(ngModel)]="provider.provDateofBirth" name="provDateofBirth" id="provDateofBirth" aria-describedby="emailHelpId" placeholder="Enter Date of birth" required>
                     
                  </div>
                  <div class="form-group col-md-4">
                      <label for="age">Age</label>
                      <input type="text" value=""  class="form-control" [(ngModel)]="provider.provAge" name="provAge" id="provAge"  placeholder="Enter age" readonly>
                     
                  </div>
                  <div class="form-group col-md-4">
                    <label for="text">Contact Number</label>
                    <input type="text" class="form-control" [(ngModel)]="provider.provContoctNo" name="provContoctNo" id="provContoctNo" placeholder="Enter contact number" required>
                   
                </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="fname">Aadhar card number</label>
                    <input type="text" [(ngModel)]="provider.provAadhar" name="provAadhar" id="provAadhar" class="form-control" placeholder="Enter Aadhar card number" aria-describedby="fnamehelpId" required>
                   
                  </div>
                  <div class="form-group col-md-6">
                    <label for="fname">RC Book number of bike</label>
                    <input type="text" [(ngModel)]="provider.provRcBookNo" name="provRcBookNo" id="provRcBookNo" class="form-control" placeholder="Enter RC Book number" aria-describedby="fnamehelpId" required>
                   
                  </div>  
                </div>
              
                  <div class="form-group">
                    <label for="fname">Address</label>
                    <input type="text" [(ngModel)]="provider.provAddress" name="provAddress" id="provAddress" class="form-control" placeholder="Enter Address" aria-describedby="fnamehelpId" required>
                   
                  </div>
               
                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="fname">City</label>
                    <input type="text" [(ngModel)]="provider.provCity" name="provCity" id="provCity" class="form-control" placeholder="Enter city" aria-describedby="fnamehelpId" required>
                   
                  </div>  
                  <div class="form-group col-md-4">
                    <label for="fname">State</label>
                    <select  [(ngModel)]="provider.provState" id="provState" name="provState" placeholder="Enter state" class="form-control">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                   
                  </div>
                  <div class="form-group col-md-4">
                    <label for="fname">PIN</label>
                    <input type="text" [(ngModel)]="provider.provPin" name="provPin" id="provPin" class="form-control" placeholder="Enter PIN" aria-describedby="fnamehelpId" required>
                   
                  </div>  
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-success" (click)="registerNow()">Sign Up</button>
              
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
                <p>Already have an account? <span><a href="/prov-log">Login</a></span></p>
              </fieldset>
              </form>
        </div>
    </div>
</div>


