
<div class="" style="background: linear-gradient(rgb(3, 119, 134) ,rgb(110,110, 100));" >
 
<div class="container-fluid ">
    <div class="row justify-content-around m-0">      
        <div class="col-md-7 bg-light shadow px-4 pt-4 mt-3 mb-3">
            <h4 class="display-4 ">
                <i class="fa fa-user-plus"></i>Provider Sign Up</h4>
            <p class="text-secondary">Enter valid sign up details.</p>
            <hr>           
            <form #provFormControl="ngForm"  >    
              <small class="text-danger">
                {{msg}}
              </small>
              <fieldset>   
                <div class="row">       
                    <div class="form-group col-md-6" 
                    [class.has-error]="provFname.invalid && provFname.touched"
                    [class.has-success]="provFname.valid">
                        <label for="fname" class="control-label">Full Name</label>
                        <input type="text" [(ngModel)]="provider.provFname" name="provFname" id="provFname" class="form-control" placeholder="Enter full name" 
                         #provFname="ngModel" required
                         pattern="^[a-zA-Z]+(?:[\s][a-zA-Z]+)*$">
                         <span class="help-block text-danger" *ngIf="provFname.hasError('required') && provFname.touched">
                          Full Name is required
                        </span>
                        <span class="help-block text-danger" *ngIf="provFname.hasError('pattern') && provFname.touched">
                          Not a avlid Full Name 
                        </span>
                    </div>
                    <div class="form-group col-md-6"
                    [class.has-error]="provEmail.invalid && provEmail.touched"
                    [class.has-success]="provEmail.valid">
                        <label for="Email" class="control-label">Email</label>
                         <input type="email" [(ngModel)]="provider.provEmail" name="provEmail" id="provEmail" class="form-control" placeholder="Enter Email" 
                         #provEmail="ngModel" required
                         pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                         <span class="help-block text-danger" *ngIf="provEmail.hasError('required') && provEmail.touched">
                          Email-Id is required
                        </span>
                        <span class="help-block text-danger" *ngIf="provEmail.hasError('pattern') && provEmail.touched">
                          Not a valid Email
                        </span>
                    </div>
                </div>
                
                <!--<div class="row">       
                    <div class="form-group col-md-6"
                    [class.has-error]="provPassword.invalid && provPassword.touched"
                    [class.has-success]="provPassword.valid">
                        <label for="Password" class="control-label">Password</label>
                        <input type="password" [(ngModel)]="provider.provPassword" name="provPassword" id="provPassword" class="form-control" placeholder="Enter Password" 
                         #provPassword="ngModel" required minlength=3 maxlength=8>
                         <span class="help-block text-danger" 
                         *ngIf="provPassword.hasError('required') && provPassword.touched">
                          password is required
                        </span>
                        <span class="help-block text-danger" 
                         *ngIf="provPassword.hasError('minlength')">
                          password is too short
                        </span>
                        <span class="help-block text-danger" 
                         *ngIf="provPassword.hasError('maxlength')">
                          password is too large
                        </span>
                     </div>

                    <div class="form-group col-md-6">
                        <label for="Password">Confirm Password</label>
                        <input type="Password" name="provPasswordR" id="provPasswordR" class="form-control" placeholder="Re-Enter Password" aria-describedby="PasswordlhelpId" required>
                    </div>
                </div>-->

                <div class="row" ngModelGroup="passwordGroup" 
                 [class.has-error]="confirmPassword.touched && confirmPassword.invalid && !confirmPassword.errors?.required">
                   
                    <div class="form-group col-md-6"
                    [class.has-error]="provPassword.invalid && provPassword.touched"
                    [class.has-success]="provPassword.valid">
                        <label for="Password" class="control-label">Password</label>
                        <input type="password" [(ngModel)]="provider.provPassword" name="provPassword" id="provPassword" class="form-control" placeholder="Enter Password" 
                         #provPassword="ngModel" required minlength=3 maxlength=8 (change)="confirmPassword.control.updateValueAndValidity()">
                         <span class="help-block text-danger" 
                         *ngIf="provPassword.hasError('required') && provPassword.touched"
                         >
                          password is required
                        </span>
                        <span class="help-block text-danger" 
                         *ngIf="provPassword.hasError('minlength')">
                          password is too short
                        </span>
                        <span class="help-block text-danger" 
                         *ngIf="provPassword.hasError('maxlength')">
                          password is too large
                        </span>
                     </div>

                    <div class="form-group col-md-6">
                        <label for="confirm Password">Confirm Password</label>
                        <input  name="confirmPassword" [(ngModel)]="provider.confirmPassword" appConfirmEqualValidator="provPassword" type="Password" id="confirmPassword" class="form-control" placeholder="Re-Enter Password" aria-describedby="PasswordlhelpId" 
                        #confirmPassword="ngModel" required minlength=3 maxlength=8>
                        <span class="help-block text-danger" 
                         *ngIf="confirmPassword.hasError('required') && confirmPassword.touched">
                         Confirm password is required
                        </span>
                        <span class="help-block text-danger" 
                         *ngIf=" confirmPassword.touched  && confirmPassword.errors?.notEqual">
                          Password and Confirm password does not matched
                        </span>
                      </div>
                    </div> 





                <div class="row">
                  <div class="form-group col-md-6"
                   [class.has-error]="provDateOfBirth.invalid && provDateOfBirth.touched"
                   [class.has-success]="provDateOfBirth.valid">
                      <label for="DOB" class="control-label">Date Of Birth</label>
                      <input type="text" bsDatepicker [bsConfig]="datePickerConfig" (bsValueChange)="onValueChange($event)" 
                      class="form-control" [(ngModel)]="provider.provDateOfBirth" 
                      name="provDateOfBirth" id="provDateOfBirth" 
                       placeholder="Enter Date of birth" 
                      #provDateOfBirth="ngModel" required
                      autocomplete="off" >
                      <span class="help-block text-danger" 
                         *ngIf="provDateOfBirth.invalid && provDateOfBirth.touched">
                          DOB is required
                        </span>
                     
                  </div>
                  <div class="form-group col-md-6">
                      <label for="age">Age</label>
                      <input type="text" value=""  class="form-control" [(ngModel)]="provider.provAge" name="provAge" id="provAge" readonly>
                     
                  </div>
                  
                </div>





                <div class="row">
                  <div class="form-group col-md-6"
                  [class.has-error]="provAadhar.invalid && provAadhar.touched"
                   [class.has-success]="provAadhar.valid">
                    <label for="Aadhar Card Number" class="control-label">Aadhar Card number</label>
                    <input type="text" [(ngModel)]="provider.provAadhar" name="provAadhar" id="provAadhar" class="form-control" placeholder="Enter Aadhar card number" 
                    #provAadhar="ngModel" required
                    pattern="^[2-9]{1}[0-9]{11}$"
                    minlength="12" maxlength="12">
                    <span class="help-block text-danger" 
                    *ngIf="provAadhar.hasError('required') && provAadhar.touched">
                      Aadhar Card Number is required
                    </span>  
                    <span class="help-block text-danger" 
                    *ngIf="provAadhar.hasError('pattern') && provAadhar.touched">
                       Not valid Aadhar Card Number
                    </span>                  
                  </div>

                  <div class="form-group col-md-6"
                   [class.has-error]="provContactNo.invalid && provContactNo.touched"
                   [class.has-success]="provContactNo.valid">
                    <label for="Contact Number" class="control-label">Contact Number</label>
                    <input type="text" class="form-control" [(ngModel)]="provider.provContactNo" name="provContactNo" id="provContactNo" placeholder="Enter contact number" 
                     #provContactNo="ngModel" required 
                     pattern="^[7-9]{1}[0-9]{9}$" minlength="10" maxlength="10">
                      <span class="help-block text-danger" 
                         *ngIf="provContactNo.hasError('required') && provContactNo.touched">
                          Contact Number is required
                      </span>
                      <span class="help-block text-danger" 
                        *ngIf="provContactNo.hasError('pattern') && provContactNo.touched">
                          Not a valid Contact Number
                      </span>
                   
                  </div>

                 
                </div>
              
                  <div class="form-group"
                  [class.has-error]="provAddress.invalid && provAddress.touched"
                  [class.has-success]="provAddress.valid">
                    <label for="Address" class="control-label">Address</label>
                    <input type="text" [(ngModel)]="provider.provAddress" name="provAddress" id="provAddress" class="form-control" placeholder="Enter Address" 
                     #provAddress="ngModel" required
                     minlength="3" maxlength="50">
                      <span class="help-block text-danger" 
                         *ngIf="provAddress.invalid && provAddress.touched">
                          Address is required
                      </span>  
                  </div>
               
                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="fname" class="control-label">City</label>
                    <select [(ngModel)]="provider.provCity" id="provCity" name="provCity" placeholder="Enter City" class="form-control">
                      <option disabled selected>--Choose City--</option>
                      <option>New Delhi</option>
                      <option>Chennai</option>
                      <option>Mumbai</option>
                      <option>Kolkata</option>
                    </select>  
                  </div>  

                  <div class="form-group col-md-4">
                    <label for="fname" class="control-label">State</label>
                    <select  [(ngModel)]="provider.provState" id="provState" name="provState" placeholder="Enter state" class="form-control" required >
                      <option disabled selected >Choose...</option>
                      <option>Maharashtra</option>
                      <option>Goa</option>                      
                    </select>
                   
                  </div>
                  <div class="form-group col-md-4"
                  [class.has-error]="provPin.invalid && provPin.touched"
                  [class.has-success]="provPin.valid">
                    <label for="PIN" class="control-label">PIN</label>
                    <input type="text" [(ngModel)]="provider.provPin" name="provPin" id="provPin" class="form-control" placeholder="Enter PIN" 
                    #provPin="ngModel" required pattern="^[1-9][0-9]{5}$"
                    minlength="6" maxlength="6">
                      <span class="help-block text-danger" 
                      *ngIf="provPin.hasError('required') && provPin.touched">
                        PIN is required
                      </span>  
                      <span class="help-block text-danger" 
                        *ngIf="provPin.hasError('pattern') && provPin.touched">
                          Not a valid PIN 
                      </span>  
                  </div>  
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-success" [disabled]="provFormControl.invalid" (click)="registerNow()">Sign Up</button>
              
                    <button type="reset" class="btn btn-danger ml-1">Reset</button>
                </div>
                <p>Already have an account? <span><a href="/prov-log">Login</a></span></p>
              </fieldset>
              </form>
        </div>
    </div>





  </div>
