<app-nav-bar></app-nav-bar>
<!-- cust Booking history -->
<div class="row content">
    <div class=" col-sm-12 main jumbotron">
        <h3 class="text-center">
            <b>Bookings</b>
        </h3>
        
        <div class="table-responsive" id="myTable" *ngIf="bookProvArrStat">
        <table class="table  table-striped "  >
            <thead class="table-dark">
                <tr>
                    <th class="align-middle">Booking Id</th>   
                    <th class="align-middle">Bike Id</th>                   
                    <th class="align-middle">Bill Amt</th>
                    <td class="align-middle">Start Time</td>
                    <td class="align-middle">End Time</td>
                </tr>
            </thead>
            <tbody id="myTableBody"  >
          
                <tr *ngFor="let x of bookProvArr">
                    <td class="align-middle">{{x.bookId}}</td>
                    <td class="align-middle">{{x.bikeId}}</td>                 
                    <td class="align-middle">₹{{ ( ( ( ( x.bookEndTimeCalc - x.bookStartTimeCalc ) / ( 1000 * 60 * 60 ) ) * x.bookChargesPerHours) * 0.8 ).toFixed(2) }}</td>
                    <td class="align-middle" *ngIf="x.bookStartTimeCust != null ">{{x.bookStartTimeCust}}</td>
                    <td class="align-middle" *ngIf="x.bookStartTimeCust == null ">Rejected</td>
                    <td class="align-middle" *ngIf="x.bookEndTimeCust != null ">{{x.bookEndTimeCust}}</td>
                    <td class="align-middle" *ngIf="x.bookEndTimeCust == null ">Rejected</td>
                </tr>
            </tbody>
        </table>
        </div>
        <h4 class="text-center" *ngIf="!bookProvArrStat">
            <b>No bookings yet</b>
        </h4>
    </div>
</div>
<hr>