<div class="container-fluid my-3">
    <div class="row justify-content-around">
        <div class="col-md-7 bg-light shadow px-4 pt-4">
            <h4 class="display-4 ">
                <i class="fa fa-user-plus"></i>Provider Signin</h4>
            <p class="text-secondary">Enter valid sign in details.</p>
            <hr>
            <!--signup form -->
            <form #loginform="ngForm" (ngSubmit)="loginProvider()">
                <small class="text-danger">
                    {{msg}}
                </small>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input [(ngModel)]="provider.provEmail" type="email" name="provEmail" id="provEmail" class="form-control" placeholder="Enter Email" aria-describedby="fnamehelpId" required>   
                </div>
                  <div class="form-group ">
                      <label for="password">Password</label>
                      <input [(ngModel)]="provider.provPassword" type="password" class="form-control" name="provPassword" id="provPassword" aria-describedby="emailHelpId" placeholder="Enter Password" required>
                  </div>
                 <div class="form-group ">
                    <button  type="submit" class="btn btn-success">Login</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
                <p>Dont have an account? <span><a href="/prov-reg">Signup</a></span></p>
            </form>
        </div>
    </div>
</div>