<app-nav-bar></app-nav-bar>
<div class="row content" *ngIf="bikeArrStat && !custIsActive" >
    <div class=" col-sm-12 main shadow jumbotron">
        <h3 class="text-center">
            <b>Bikes Info</b>
        </h3>
        
        <div class="table-responsive" id="myTable">
            <table class="table table-striped " >
                <thead class="table-dark">
                    <tr>
                        <th class="align-middle">Bike No.</th>
                        <th class="align-middle">Type Of Gear</th>
                        <th class="align-middle">Brand </th> 
                        <th class="align-middle">Model </th>
                        <th class="align-middle">RC Book No</th>
                        <th class="align-middle">Charges/Hour</th>
                        <th class="align-middle">Avg/Ltr</th> 
                        <th class="align-middle">Location</th>
                        <th class="align-middle">Status</th> 
                        <th class="align-middle"></th> 
                    </tr>
                </thead>
                <tbody id="myTableBody" *ngFor="let x of bikesArr">
            
                    <tr>
                        <td class="align-middle">{{x.bikeNo}}</td>
                        <td class="align-middle">{{x.typeOfGear}}</td>
                        <td class="align-middle">{{x.brandOfBike}}</td>
                        <td class="align-middle">{{x.modelOfBike}}</td>
                        <td class="align-middle">{{x.rcBookNo}}</td>
                        <td class="align-middle">{{x.chargesPerHour}}₹</td>
                        <td class="align-middle">{{x.avgPerLtr}}</td>
                        <td class="align-middle">{{x.availableLocation}}</td>
                        <td class="align-middle">{{x.bikeStatus}}</td>
                        <td class="align-middle">                       
                            <button type="button" class="btn btn-primary btn-sm" id="btn0" (click)="onUpdate(x)">
                                View   
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>



<!-- cust curr booking status -->
<div class="row content" *ngIf="custIsActive">
    <div class=" col-sm-12 main jumbotron">
        <h3 class="text-center">
            <b>My Current Booking</b>
        </h3>
        
        <div class="table-responsive" id="myTable">
        <table class="table table-striped "  >
            <thead class="table-dark">
                <tr>
                    <th class="align-middle">Booking Id</th>   
                    <th class="align-middle">Bike Id</th>                 
                    <th class="align-middle">Prov Id</th>
                    <th class="align-middle">Cust Id</th>
                    <th class="align-middle">Charges/hr </th> 
                    <th class="align-middle">Bill Amt</th>
                    <th class="align-middle">Payment Status</th>
                    <th class="align-middle">Booking Status</th>
                    <th class="align-middle">Deposit Amt</th> 
                </tr>
            </thead>
            <tbody id="myTableBody"  >
          
                <tr >
                    <td class="align-middle">{{booking.bookId}}</td>
                    <td class="align-middle">{{booking.bikeId}}</td>
                    <td class="align-middle">{{booking.provId}}</td>
                    <td class="align-middle">{{booking.custId}}</td>
                    <td class="align-middle">{{booking.bookChargesPerHours}}</td>
                    <td class="align-middle">{{booking.bookBillAmount}}</td>
                    <td class="align-middle">{{booking.bookPaymentStatus}}</td>
                    <td class="align-middle">{{booking.bookStatus}}</td>
                    <td class="align-middle">{{booking.bookDepositAmount}}</td>
                  
                </tr>
            </tbody>
        </table>
        </div>
    </div>


    <div class="container py-5" *ngIf="bookStatus">
        <!-- For demo purpose -->
        <div class="row mb-4">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="display-4"> Payment Forms</h1>
            </div>
        </div> <!-- End -->
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card ">
                    <div class="card-header">
                        <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                            <!-- Credit card form tabs -->
                            <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                                <li class="nav-item"> <a data-toggle="pill" href="#credit-card" class="nav-link active "> <i
                                            class="fas fa-credit-card mr-2"></i> Credit Card </a> </li>
                                <li class="nav-item"> <a data-toggle="pill" href="#paypal" class="nav-link "> <i
                                            class="fab fa-paypal mr-2"></i> Paypal </a> </li>
                                <li class="nav-item"> <a data-toggle="pill" href="#net-banking" class="nav-link "> <i
                                            class="fas fa-mobile-alt mr-2"></i> Net Banking </a> </li>
                            </ul>
                        </div> <!-- End -->
                        <!-- Credit card form content -->
                        <div class="tab-content">
                            <!-- credit card info-->
                            <div id="credit-card" class="tab-pane fade show active pt-3">
                                <form role="form">
                                    <div class="form-group"> <label for="username">
                                            <h6>Amount :</h6>
                                        </label> <input type="text" [(ngModel)]="booking.bookBillAmount" name="bookBillAmount" readonly class="form-control ">
                                    </div>
                                    <div class="form-group"> <label for="username">
                                            <h6>Card Owner</h6>
                                        </label> <input type="text" name="username" placeholder="Card Owner Name" required
                                            class="form-control "> </div>
                                    <div class="form-group"> <label for="cardNumber">
                                            <h6>Card number</h6>
                                        </label>
                                        <div class="input-group"> <input type="text" name="cardNumber"
                                                placeholder="Valid card number" class="form-control " required>
                                            <div class="input-group-append"> <span class="input-group-text text-muted"> <i
                                                        class="fab fa-cc-visa mx-1"></i> <i
                                                        class="fab fa-cc-mastercard mx-1"></i> <i
                                                        class="fab fa-cc-amex mx-1"></i> </span> </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group"> <label><span class="hidden-xs">
                                                        <h6>Expiration Date</h6>
                                                    </span></label>
                                                <div class="input-group"> <input type="number" placeholder="MM" name=""
                                                        class="form-control" required> <input type="number" placeholder="YY"
                                                        name="" class="form-control" required> </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group mb-4"> <label data-toggle="tooltip"
                                                    title="Three digit CV code on the back of your card">
                                                    <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                                </label> <input type="password" required class="form-control"> </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button"
                                            class="subscribe btn btn-primary btn-block shadow-sm" (click)="doPayment(booking)"> 
                                            Confirm Payment
                                        </button>
                                        
                                    </div>
                                </form>
                            </div>
                        </div> <!-- End -->
    
                    </div>
                </div>
            </div>
        </div>


</div>
<hr>